<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="headstuff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <title>I wish this was twitter</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body { padding-bottom: 70px;}
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/c_scale,e_sharpen:100,q_100,w_50/v1570813879/bat-216-544907_utj2fk.png" width="50" height="50" alt="">
            Spook</a>

    <button class="navbar-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/add">Add a message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/spook">Cats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/me">About Me</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="nav bar navbar-default navbar-fixed-bottom"
     th:fragment="footer">
    <div class="containter">
         <ul class="nav justify-content-center">
             <li><span class="badge badge-light">© 2019 Spook Inc</span></li>
         </ul>
    </div>
</nav>


<!--<form class="form-inline">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--</form>-->

<!--<ul class="nav nav-tabs">-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link active" href="/">Rettiwt</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/add">Add a new Post</a>-->
<!--    </li>-->
<!--</ul>-->

</body>
</html>



