<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="headstuff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <title>Brine</title>
    <script src="https://kit.fontawesome.com/d0065a9586.js" crossorigin="anonymous"></script>
    <script src="javascript.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <style>
        body { padding-bottom: 70px;}
    </style>

</head>
<body>

<!--</a><button type="button" class="btn btn-light"><dt>Brine</dt></button></a>-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-trans" th:fragment="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <img src="https://i.imgur.com/xExPiua.png" width="60" height="50" alt=""><a>  </a>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light text-success"><dt>Brine</dt></button>
                <button type="button" class="btn btn-light">Add a message</button>
                <button type="button" class="btn btn-light">Cats</button>
                <button type="button" class="btn btn-light">About Me</button>
            </div>
        </ul>
        <span class="navbar-text">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </span>
    </div>
</nav>

<nav class="nav bar navbar-default navbar-fixed-bottom" th:fragment="footer">

    <div class="container">
        <ul class="nav">

            <li><span class="badge badge-light">© 2019 Brine Inc<br/>
                <img src="https://i.imgur.com/xExPiua.png" width="40" height="30" alt="">
                <img src="https://i.imgur.com/xExPiua.png" width="40" height="30" alt="">
                <img src="https://i.imgur.com/xExPiua.png" width="40" height="30" alt="">
             </span></li>
            <br/>

        </ul>
    </div>
</nav>


</body>
</html>



