<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="icon" href="https://i.imgur.com/xExPiua.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Brine</title>
</head>

<body style="background: url(https://media.giphy.com/media/WKtB7yK9OttAY/giphy.gif); -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;">


<div class="container">
    <div class="row">
        <div class="col-0.5">
        </div>
        <div class="col-sm">
            <nav th:replace="base :: navbar"></nav>
        </div>
    </div>
</div>

<br /><br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron opacity-3">

<div th:each="message : ${messages}">
    <div class="container">
        <div class="row">
            <div class="col-0.5">
            </div>
            <div class="col-sm">
                <br />


    <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-white bg-dark">From: [[${message.sentby}]] on [[${message.date}]]</div>
            <div class="card-body">
                <p class="card-text">[[${message.content}]]</p>
                <td>
                    <div>
                        <div th:if="${message.imageurl} != null">
                            <img th:src="${message.imageurl}" class="img-thumbnail">
                        </div>
                    </div>
                </td>
            </div>
        </div>
                        <a class="btn btn-danger btn-sm" th:href="@{/delete/{id}(id=${message.id})}"
                           role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

</div>

        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <nav th:replace="base :: footer"></nav>
        </div>
    </div>
</div>

</body>
</html>

