<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="icon" href="https://i.imgur.com/xExPiua.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About Me</title>
</head>

<body style="background: url(https://media.giphy.com/media/WKtB7yK9OttAY/giphy.gif); -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col-0.5">
        </div>
        <div class="col-sm">
            <nav th:replace="base :: navbar"></nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
<br /><br/>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/v1570724164/nyupz5mgxgb4jsfe7ewr.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Pierz</h5>
                <p class="card-text">I'm just a poor boy nobody loves me except for the virgin mother mary.</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>


        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <nav th:replace="base :: footer"></nav>
        </div>
    </div>
</div>

</body>
</html>