<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="icon" href="https://res.cloudinary.com/dn5drwg3e/image/upload/c_scale,e_sharpen:100,q_100,w_50/v1570813879/bat-216-544907_utj2fk.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Message</title>
</head>

<body style="background: url(https://res.cloudinary.com/dn5drwg3e/image/upload/v1570818927/simple-bat-pattern-halloween-background_8306-23_ightb2.jpg); -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col-0.5">
        </div>
        <div class="col-sm">
            <nav th:replace="base :: navbar"></nav>
        </div>
    </div>
</div>

<form action="#" th:action="@{/process}" th:object="${message}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
    <div class="container">
        <div class="row">
            <div class="col-0.5">
            </div>
            <div class="col-sm">
                <br /><br/>

            <div class="jumbotron">
                <div class="container">

                    <label >Name: </label><br/>
                <input type="text" th:field="*{sentby}"><br/><br/>

                <label >Date: </label><br/>
                <input type="text" th:field="*{date}"><br/><br/>

                <label >Message: </label><br/>
                <textarea rows="5" th:field="*{content}" /><br/><br/>

                <label >Image Upload:</label><br/>
                <input type="file" name="file" /><br/><br/>

                </div>
            </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <nav th:replace="base :: footer"></nav>
        </div>
    </div>
</div>

</body>
</html>