<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="icon" href="https://i.imgur.com/xExPiua.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Brine</title>
</head>

<body style="background: url(https://media.giphy.com/media/WKtB7yK9OttAY/giphy.gif); -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col-0.5">
        </div>
        <div class="col-sm">
            <nav th:replace="base :: navbar"></nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-0.5">
        </div>
        <div class="col-sm">
            <br /><br/>
            <div class="card-deck">
                <div class="card">
                    <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/v1570820421/tumblr_pjqwc3x1IE1wr670q_540_vprwd8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">I love this cat with my whole heart.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="card">
                    <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/v1570820421/tumblr_pgdcdmmdLf1w5jqpf_540_juc398.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">This one as well I mean how can you not?</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="card">
                    <img src="https://res.cloudinary.com/dn5drwg3e/image/upload/c_scale,h_248,w_250/v1570820421/tumblr_pftszeoxCu1uutnkko2_500_vjmpgt.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">He's perfect in every way I could cry.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <nav th:replace="base :: footer"></nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>